@import "../../globals.scss";

.shop-container h1 {
    padding-top: 24px;
    font-size: 36px;
    color: #292929;
}
.shop-header {
    height: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.shop-header h1,
h2,
h4 {
    text-align: left;
    padding-left: 16px;
    color: #ffffff;
}
.shop-header a {
    color: #ffffff;
    text-decoration: underline;
}
.items-container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .items-container {
        display: grid;
        grid-template-columns: 600px 600px;
        grid-template-rows: 700px 700px;
    }
    .items-bg {
        @include flex-column;
    }
}
