@import "../../globals.scss";

.cart-node img {
    width: 100px;
}
.cart-container {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}
.cart-items {
    margin-top: 36px;
    @include white-container();
}
.cart-node-button {
    @include blue-button();
    height: 45px;
    margin-top: 5px;
    width: 100px;
}
.cart-description {
    @include text-left();
}
.cart-bottom-bar {
    @include bottom-bar();
}
.cart-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.cart-node p {
    margin-top: 5px;
    margin-bottom: 5px;
}
