@import "../../globals.scss";
.cart-bg {
    @include flex-column;
    min-height: 99vh;
}
.cart-button {
    @include blue-button;
    height: 45px;
    min-width: 80px;
}
.cart-items h2 {
    text-align: center;
    padding-left: 0;
}
.cart-header {
    padding-top: 36px;
}
.cart-button {
    margin-bottom: 36px;
}
.cart-container {
    @include flex-column;
}
@media only screen and (min-width: 992px) {
    .cart-container {
        @include desktop-container();
    }
}
