@import "../../globals.scss";

.cart-button {
    @include blue-button;
    height: 45px;
    min-width: 80px;
}
.cart-items h2 {
    text-align: center;
    padding-left: 0;
}
.cart-summary {
    text-align: left;
    padding-left: 10px;
}
