@import "../../globals.scss";

@mixin item-node-buttons() {
    @include blue-button();
    height: 32px;
    width: 32px;
}
@mixin item-node-font() {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.counter {
    padding-top: 10px;
}

.counter button {
    @include item-node-buttons();
    @include item-node-font();
}
.counter span {
    @include item-node-font();
}
.counter button:active {
    transition: 0.2s;
    background-color: $color2;
}
