@import "../../globals.scss";

.item-bg {
    @include flex-column();
    padding-top: 100px;
    min-height: 100vh;
}

.item-page-container {
    height: max-content;
    @include white-container();
    margin-bottom: 32px;
}
.item-page-container h2 {
    @include black-font();
}

.item-page-container img {
    max-height: 150px;
    max-width: 150px;
}
.item-page-button {
    margin-top: 5px;

    height: 45px;
    width: 120px;
    @include blue-button();
}
.description {
    @include text-left();
    padding-bottom: 24px;
}

@media only screen and (min-width: 992px) {
    .item-page-container {
        @include desktop-container();
    }
}
