.order-form-item {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.order-form-item img {
    height: 60px;
    min-width: 60px;
    max-width: 60px;
    object-fit: contain;
}
.order-form-item-desc {
    font-size: 14px;
    text-align: right;
}
