.navbar-menu {
    display: block;
    position: fixed;
    background-color: #000000e7;
    height: calc(100vh - 50px);
    width: 250px;
    top: 50px;
    left: 0;
    color: #ffffff;
    font-size: 22px;
}
