@import "../../App.scss";

.navbar {
    height: $navbarHeight;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: $color1;
    display: flex;
    padding-left: 15px;
    gap: 15px;
}
.navbar img {
    height: 40px;
    margin-top: 5px;
}
