input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}
@mixin display-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 6px;
}

.navbar-button-wrapper {
    @include display-flex-column;
}
.navbar-button {
    cursor: pointer;
    @include display-flex-column;
    height: max-content;
}
.navbar-button span {
    display: block;
    height: 5px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 15px;
}
